<link rel="stylesheet" href='/css/signup.css'>
<div id="signup">
login here!
<form action='/users/create-session' method="POST"><br>
<input type="email" name="email" placeholder="EMAIL" required><br>
<input type="password" name="password" placeholder="PASSWORD" required><br>
<button type="submit"> LOGIN </button>   
</form>

</div>