<form action='' method="POST">
<input type="email" name="email" placeholder="EMAIL">
<input type="password" name="password" placeholder="PASSWORD">
<button type="submit"> LOGIN </button>   
</form>

<a href='/signup'> Sign-up</a>