<link rel="stylesheet" href='/css/signup.css'>
<div id='signup'>
signup here!
<form action="/users/create" method="POST">
<input type="text" name="username" placeholder="NAME" required><br>
<input type="email" name="email" placeholder="EMAIL" required><br>
<input type="password" name="password" placeholder="PASSWORD" required><br>
<input type="password" name="confirm_password" placeholder="CONFIRM-PASSWORD" required><br>
<button type="submit">SIGN UP </button><br>
</form>


</div>